$general-font-color: #444444;
$a-font-color: #106eea;
$a-hover-font-color:  #3b8af2;
$bg-color-white: white;
$a-logo-font-color: #222222;
$a-span-font-color:#106eea;
$bg-color-blue: #106eea;
$bg-color-iconbox: #fff;
$bg-color-iconbox-before: #cbe0fb;
$title-a-font-color:#111;
$bg-footer-color:#f1f6fe;
$welcome-bg-color:rgba(255, 255, 255, 0.6);
