$general-font-family: "Open Sans",
sans-serif;
$h1-font-family:"Roboto",
sans-serif;
$logo-font-family:"Roboto",
sans-serif;
$welcome-h1-font-family:"Poppins",
sans-serif;
$featured-box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
$contact-box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
$header-box-shadow:0px 2px 15px rgba(0, 0, 0, 0.1);