/* 
 ------- General --------
  */
  * {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #106eea;
    text-decoration: none;
}

a:hover {
    color: #3b8af2;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

/* 
 ------- Header --------
  */
header {
    grid-area: header;
    background: #fff;
    transition: all 0.5s;
    height: 5rem;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-family: "Poppins", sans-serif;
}

header .logo a {
    color: #222222;
}

header .logo a span {
    color: #106eea;
}

header .fixed-top {
    height: 70px;
}


/* 
 ------- Navigation --------
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #106eea;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #106eea;
}

/* 
 ------- Welcome --------
  */
.welcome {
    width: 100%;
    height: 75vh;
    background: url("../img/index_bg.png") top left;
    background-size: cover;
    position: relative;
}

.welcome:before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.welcome .container {
    position: relative;
}

.welcome h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: #222222;
    font-family: "Poppins", sans-serif;
}

.welcome h1 span {
    color: #106eea;
}



.card__nextchallenge {
    height: 10rem;
    width: 100%;
    background-image: url(../img/nextchallenge.png);
    background-size: auto 100%;
}

.card__teamchallenges {
    height: 10rem;
    width: 100%;
    background-image: url(../img/teamchallenges.png);
    background-size: auto 100%;
}

.card__challengesmet {
    height: 10rem;
    width: 100%;
    background-image: url(../img/challengesmet.png);
    background-size: auto 100%;
}

/* 
 ------- Featured --------
  */
.featured-services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.featured-services .icon-box::before {
    content: "";
    position: absolute;
    background: #cbe0fb;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
}

.featured-services .icon-box:hover::before {
    background: #106eea;
    top: 0;
    border-radius: 0px;
}

.featured-services .icon {
    margin-bottom: 15px;
}

.featured-services .icon i {
    font-size: 48px;
    line-height: 1;
    color: #106eea;
    transition: all 0.3s ease-in-out;
}

.featured-services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.featured-services .title a {
    color: #111;
}

.featured-services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
    color: #fff;
}

.featured-services .icon-box:hover .icon i {
    color: #fff;
}

/* 
-----------  Main -------------
*/
main section {
    padding: 60px 0;
    overflow: hidden;
}

.contheader {
    grid-area: header;
}

main {
    /* background: linear-gradient(to right, #0083B0, #00B4DB); */
    grid-area: content;
    color: #FFFFFF;
    height: auto;
}

/* 
-----------  Footer -------------
*/

footer {
    grid-area: footer;
    background: #f1f6fe;
    height: auto;
    padding: 7rem 0 2rem 0;
}

/* 
-----------  Grids -------------
*/

#gridIndex {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

#gridChallengesMet {
    display: grid;
    grid-template-columns: auto 3rem;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header navuser"
        "content content"
        "nav nav"
        "footer footer";
}

#gridNextChallenge {
    display: grid;
    grid-template-columns: auto 3rem;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header navuser"
        "content content"
        "nav nav"
        "footer footer";
}

#gridContact {
    display: grid;
    grid-template-columns: auto 3rem;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header navuser"
        "content content"
        "nav nav"
        "footer footer";
}

#gridTeamChallenges {
    display: grid;
    grid-template-columns: auto 3rem;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header navuser"
        "content content"
        "nav nav"
        "footer footer";
}


.card__h1 {
    color: #FFFFFF;
    font-size: 1rem;
}

.card__description {
    color: #FFFFFF;
}

.button {
    border: none;
    color: grey;
    padding: 0.1rem 2.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
}

@media screen and (min-width: 400px) {

    #gridIndex {
        display: grid;
        /* margin-left: 8%;
        margin-right: 8%; */
        grid-template-columns: auto 3rem;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header navuser"
            "content content"
            "footer footer";
    }

    #gridIndex .secMain {
        width: 100%;
        padding: 0;
    }

    #gridContact {
        display: grid;
        margin-left: 8%;
        margin-right: 8%;
        grid-template-columns: 10rem auto 3rem;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header navuser"
            "nav content content"
            "footer footer footer";
    }

    #gridChallengesMet {
        display: grid;
        margin-left: 8%;
        margin-right: 8%;
        grid-template-columns: 10rem auto 3rem;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header navuser"
            "nav content content"
            "footer footer footer";
    }

    #gridNextChallenge {
        display: grid;
        margin-left: 8%;
        margin-right: 8%;
        grid-template-columns: 10rem auto 3rem;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header navuser"
            "nav content content"
            "footer footer footer";
    }

    #gridTeamChallenges {
        display: grid;
        margin-left: 8%;
        margin-right: 8%;
        grid-template-columns: 10rem auto 3rem;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header header navuser"
            "nav content content"
            "footer footer footer";
    }

    .card__h1 {
        font-size: 2rem;
    }

    .button {
        width: auto;
    }
}